<mat-sidenav-container style="min-height: 100%;" fxFlex>
  <mat-sidenav [opened]="true" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let card of cards">
        <button mat-icon-button (click)="createCards()">+
        </button>
      </mat-list-item>
    </mat-list>
</mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list [cols]="cols | async">
      <mat-grid-tile *ngFor="let card of cards"
                     [colspan]="card.inputs.cols.value | async"
                     [rowspan]="card.inputs.rows.value | async">
        <app-dashboard-card-spawner [card]="card">
        </app-dashboard-card-spawner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>